{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Maria Raniuk blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

    </head>
        <body>
            <header class="page-header">
                {% if user.is_superuser %}

                    <a href="{% url 'post_new' %}" class="top-menu">
                        {% include './icons/plus.svg' %}
                    </a>
                    <a href="{% url 'post_draft_list' %}" class="top-menu">
                        {% include './icons/journal-check.svg' %}
                    </a>
                    <p class="top-menu">Hello {{ user.username }}
                        <small class = "top-menu">(<a  href="{% url 'logout'%}">Log out</a>)</small>
                    </p>

                {% else %}
                    <a href="{% url 'login' %}" class="top-menu">
                        <button type="submit">Log in</button>
                    </a>
                    <a href="{% url 'register' %}" class="top-menu">
                        <button type="submit">Sign in</button>
                    </a>

                {% endif %}
                    <h1 class = "name"><a   href="/">Blog</a></h1>

              <div class="container">
                  <h2><a class = "top-menu" href="{% url 'about' %}">Maria Raniuk</a></h2>
              </div>
            </header>
            <main class="container">
                <div class="row">
                    <div class="col">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </main>
        <script src="script.js"></script>
        </body>
</html>