{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Maria Raniuk blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--a href="{% url 'post_new' %}" class="top-menu">
            {% include './icons/plus.svg' %}
        a-->
    </head>
        <body>
            <header class="page-header">
                {% if user.is_superuser %}

                    <a href="{% url 'post_new' %}" class="top-menu">
                        {% include './icons/plus.svg' %}
                    </a>
                    <a href="{% url 'post_draft_list' %}" class="top-menu">
                        {% include './icons/pencil-fill.svg' %}
                    </a>
                {% elif user.is_authenticated % }
                    <p class="top-menu">Hello {{ user.username }}
                        <small>(<a href="{% url 'logout'%}">Log out</a>)</small>
                    </p>

                {% else %}
                    <a href="{% url 'login' %}" class="top-menu">
                        {% include './icons/lock.svg' %}
                    </a>
                {% endif %}
                    <h1><a href="/">Mary</a></h1>

              <div class="container">
                  <h1><a href="/">Blog</a></h1>
              </div>
            </header>
            <main class="container">
                <div class="row">
                    <div class="col">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </main>
        </body>
</html>