.page-header {
    background-color: #000000;
    color:#FFFFFF
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header small a{
    color: #A9A9A9;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}
.name a, .name a hover {
    color: white;
    font-size:  50pt;
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #FFFFFF ;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.carousel-wrapper {
  overflow: hidden;
  width: 90%;
}

.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  transform-style: preserve-3d;
}

.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}.carousel__photo.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}.carousel__photo.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}


.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}.carousel__button--prev {
  left:0;
}.carousel__button--next {
  right:0;
}.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}