{% extends 'blog/base.html' %}
{% block content %}
<div class="about-section">
  <h1>About</h1>
</div>

<h2 style="text-align:center">Biography</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://sun9-41.userapi.com/impf/c855132/v855132859/12ab7e/F-kwhnabigI.jpg?size=1080x717&quality=96&sign=135eaffb7b0009a990dcfe79e1b5feab&type=album" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Bobruisk</h2>
        <p class="title">home town</p>
        <p>I was born in 2002 in Belarusian town in a family of engeneer and teacher...</p>
        <p>mashenka0110@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

{% endblock %}