{% extends 'blog/base.html' %}
{% block content %}
<div class="about-section">
  <h1>About</h1>
</div>

<h2 style="text-align:center">Biography</h2>
<div class="row">
  <div class="column">
    <div class="card">

      <div class="carousel-wrapper">
  <div class="carousel">
    <img class="carousel__photo initial" src="https://sun9-41.userapi.com/impf/c855132/v855132859/12ab7e/F-kwhnabigI.jpg?size=1080x717&quality=96&sign=135eaffb7b0009a990dcfe79e1b5feab&type=album">
    <img class="carousel__photo" src="https://sun9-88.userapi.com/impf/0qcIprY6PAovh3eaJo3CBLEbWBZl7O-EWSAvow/suBqy_7AKjw.jpg?size=972x2160&quality=96&sign=17efe4556a3e85e1ebdfca19c37518e4&type=album">
    <img class="carousel__photo" src="https://sun9-41.userapi.com/impf/c855132/v855132859/12ab7e/F-kwhnabigI.jpg?size=1080x717&quality=96&sign=135eaffb7b0009a990dcfe79e1b5feab&type=album">
    <img class="carousel__photo" src="https://sun9-41.userapi.com/impf/c855132/v855132859/12ab7e/F-kwhnabigI.jpg?size=1080x717&quality=96&sign=135eaffb7b0009a990dcfe79e1b5feab&type=album">
    <img class="carousel__photo" src="https://sun9-41.userapi.com/impf/c855132/v855132859/12ab7e/F-kwhnabigI.jpg?size=1080x717&quality=96&sign=135eaffb7b0009a990dcfe79e1b5feab&type=album">

    <div class="carousel__button--next"></div>
    <div class="carousel__button--prev"></div>  </div>
</div>

      <div class="container">
        <h2>Bobruisk</h2>
        <p class="title">home town</p>
        <p>I was born in 2002 in Belarusian town in a family of engeneer and teacher...</p>
        <p>mashenka0110@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

{% endblock %}